@model Project3.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1><div style="color:aquamarine">Add new product</div></h1>
<body style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSBX4BNsFKqbe6YbTZROBqHWZc0Vrf6yWwSXeq7iCqClAk23gB5L6sQ7ycZC93QFYRq-E&usqp=CAU')" background-repeat="no-repeat” background-size=" cover”>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                if (ViewBag.Message != null)
                {
                    <h5>
                    <div style="color:red">
                    @ViewBag.Message
                    </div>
                    </h5>
                }
            }
            <div class="form-group">
                <label asp-for="Pid" class="control-label"></label>
                <input asp-for="Pid" class="form-control" />
                <span asp-validation-for="Pid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pname" class="control-label"></label>
                <input asp-for="Pname" class="form-control" />
                <span asp-validation-for="Pname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pcost" class="control-label"></label>
                <input asp-for="Pcost"  class="form-control" />
                <span asp-validation-for="Pcost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pquantity" class="control-label"></label>
                <input asp-for="Pquantity" class="form-control" />
                <span asp-validation-for="Pquantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Addproduct to list" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
