@model Project3.Models.Stockist

@{
    ViewData["Title"] = "Login";
}

<h1><div style="color:black">ADMIN LOGIN</div></h1>
<body style="background-image:url(https://t3.ftcdn.net/jpg/00/96/24/36/360_F_96243602_hgZuimFj1cJFqrrvERCnsq7NZ8VRZ7y7.jpg);background-repeat:no-repeat;background-size:cover">


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                if (@ViewBag.Message != null)
                {
                           <h6>
                            <div style="color:red">
                            @ViewBag.Message
                            </div>

                            </h6>
                }

            }
            <div class="form-group">
                <label asp-for="StName" class="control-label"></label>
                <input asp-for="StName" class="form-control" />
                <span asp-validation-for="StName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div><br />
            
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div><br />

                
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>*@
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
