@{
    ViewData["Title"] = "Home Page";
}


 <body style="background-image:url('https://img.freepik.com/free-photo/copy-space-health-treatment_23-2148551045.jpg?w=740&t=st=1678044532~exp=1678045132~hmac=e9b70168f05cd994b55dfe837a2be85111661f21615f4af0c936cac71c5417d5')">

<div class="text-center">
        <h1 class="display-4"><p style="font-family:verdana"><b>DRUG DIG </b></p></h1>
       

    
        
    
</div>
</body>

