@model Project3.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h1><div style="color:black">New Customer Registration</div> </h1>
<body style="background-image:url('https://img.freepik.com/free-photo/copy-space-health-treatment_23-2148551045.jpg?w=740&t=st=1678044532~exp=1678045132~hmac=e9b70168f05cd994b55dfe837a2be85111661f21615f4af0c936cac71c5417d5')">



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                if (@ViewBag.Message != null)
                {
                   <h6>
                    <div style="color:red">
                            @ViewBag.Message
                    </div>
                        
                    </h6>
                }
                
            }
            <div class="form-group">
                <label asp-for="Cname" class="control-label"></label>
                <input asp-for="Cname" class="form-control" />
                <span asp-validation-for="Cname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pass" class="control-label"></label>
                <input asp-for="Pass"type="password" class="form-control" />
                <span asp-validation-for="Pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpass" class="control-label"></label>
                <input asp-for="Cpass"type="password" class="form-control" />
                <span asp-validation-for="Cpass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home" >Back to List</a>
</div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
